{% extends 'base.html' %}
{% block title %} Movie {{ movie.movie_id }} {% endblock %}
{% block content %}

    <h2>{{ movie.title }}</h2>
    <p> (Movie Id): {{movie.movie_id}}</p>

    <h3>About {{ movie.title}}</h3>
    <ul> 
        <li>Release Date: {{movie.released_at}} </li>
        <li><a href={{movie.imdb_url}}>imdb url</a></li>    
    </ul>
    <h3>Ratings</h3> <ul>
    {% if 'current_user' in session %}
        {% if user_has_rated  == True %}
            <li>You gave {{movie.title}} a rating of FIGURE THIS OUT</li>
        {% else %}
            <li>What rating (between 1-5) would you like to give this movie?
                <form action='/add_rating'>
                    <input type='text' name='user_rating' required>
                    <input type='hidden' name='movie_id' value={{movie.movie_id}}>
                <input type='submit'></li></form>
        {% endif %}
    {% else %}
        <li><a href='/login'>Log in to rate!</a></li>
    {% endif %}

    {% for rating in movie.ratings %}
    <li>Score: {{rating.score}}, as rated by User #{{rating.user_id}}</li>
    {% endfor %}
    </ul>

        



{% endblock %}
    