{% extends 'base.html' %}
{% block title %} Register User {% endblock %}
{% block content %}
    <h2>Registration</h2>


<!-- Make a form that gets user email and password -->

<form action="/register" method="POST">
Email Address:<input name="email" type='text' required><br>
<!-- any way to make it so user password doesn't show up on screen? -->
Password:<input name="password" type="password" required> 

<p>If you are a new user, please fill in the following:</p>
Age: <input name='age' type='text' required><br>
Zip Code: <input name='zipcode' type='text' required> 

<input type="submit">

</form>



{% endblock %}