{% extends 'base.html' %}
{% block title %} User {{ user.user_id }} {% endblock %}
{% block content %}
    <h2>User {{ user.user_id }} is {{ user.age }} years old. Their zip code is {{ user.zipcode }}.</h2>
    {% if user.ratings %}
    What have they rated? <ul>
        {% for item in user.ratings %}
        <li> {{item.movie.title}}: {{ item.score }}</li>
        {% endfor %}
    {% else %}
    <p>User {{ user.user_id }} hasn't rated anything yet!</p>
    {% endif %}
    </ul>
        



{% endblock %}